extends include/_base

block append body
  .header
    h1.title NISER OUTREACH PROGRAMMES
  section.VP(data="{{link-vigyan-pratibha}}")
    .img
      .name Vigyan Pratibha
  section.LV(data="{{link-lab-visit}}")
    .img
      .name Lab Visit
  section.OD(data="{{link-open-day}}")
    .img
      .name Open Day
  footer
    br
    |
    | Made with ♥ by
    |
    a(href='https://deshmukh.ml', target='_blank') Abhishek Anil Deshmukh
